body {
  font-family: "Roboto Mono", monospace;
}

h1 {
  color: #202124;
  display: block;
  font-size: 22px;
  font-weight: 600;
  line-height: 26px;
  margin-bottom: 0;
  margin-top: 5px;
}

h2 {
  display: inline;
  font-size: 38px;
}

#weather-description {
  text-transform: capitalize;
}

#current-weather-icon {
  height: 64px;
  width: 64px;
}

.content-wrapper {
  margin: 30px auto;
  max-width: 600px;
}

.weather-app {
  border: 1px solid #dadde1;
  border-radius: 4px;
  padding: 20px;
}

.city-search-bar {
  border: 1px solid #dadde1;
  border-radius: 4px;
}

.current-date-weather-description {
  font-size: 14px;
  list-style-type: none;
  padding: 0;
}

.temperature-unit-measurement {
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  margin-top: 6px;
  vertical-align: top;
}

.celsius-controller {
  text-decoration: none;
}

.weather-data {
  font-size: 14px;
}

.open-source-code-info {
  font-size: 11px;
}

.open-source-code-info a {
  text-decoration: none;
}
