body {
  font-family: "Roboto Mono", monospace;
  color: #202124;
}

h1 {
  display: block;
  font-size: 22px;
  font-weight: 600;
  line-height: 26px;
  margin-bottom: 0;
  margin-top: 5px;
}

#current-location {
  background-color: #0d6efd;
  border: 1px solid #0d6efd;
  border-radius: 4px;
  color: #fff;
  font-size: 20px;
  float: right;
  padding: 4px;
  transition: all 200ms ease-in-out;
}

#current-location:hover {
  background-color: #0b5ed7;
  border-color: #0a58ca;
  cursor: pointer;
}

#weather-description {
  text-transform: capitalize;
}

#current-weather-icon {
  height: 64px;
  width: 64px;
  vertical-align: top;
  padding-top: 10px;
}

.content-wrapper {
  margin: 40px auto;
  max-width: 600px;
}

.weather-app {
  border: 1px solid #dadde1;
  border-radius: 4px;
  padding: 20px;
}

.city-search-bar {
  border: 1px solid #dadde1;
  border-radius: 4px;
}

.current-date-weather-description {
  font-size: 14px;
  list-style-type: none;
  padding: 0;
}

.current-temperature {
  display: inline;
  font-size: 48px;
  margin-right: -9px;
}

.temperature-unit-measurement {
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  margin-top: 9px;
  vertical-align: top;
}

.fahrenheit-controller {
  text-decoration: none;
}

.celsius-controller {
  text-decoration: none;
}

.active {
  color: #202124;
}

.active:hover {
  color: #202124;
  cursor: text;
}

.weather-data {
  font-size: 14px;
}

.open-source-code-info {
  font-size: 11px;
}

.six-day-forecast-display {
  margin-top: 40px;
  text-align: center;
}

.forecast-temperatures {
  font-size: 13px;
}

.forecast-day,
.forecast-lo-temperature {
  opacity: 0.5;
}

.open-source-code-info a {
  text-decoration: none;
}
